extends: default
ignore: |
  **/charts/**/templates/**
  **/*.tpl
  **/*.gotmpl
rules:
  document-start: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false
